@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
body {
    margin: 0%;
}
video {
    object-fit: cover;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.welcome {
    text-align: center;
}
.button-start {
    text-align: right;
    padding-right: 10%;
}
#startButton {
    border: none;
    font-family: 'Orbitron', sans-serif;
    font-size: 120%;
    font-weight: bold;
    color: #000000;
    background-color: transparent;
    opacity: 80%;
    width: 150px;
    height: 75px;
    left: 1111px;
    top: 512px;
    background: rgba(4, 4, 42, 0.64);
    border-radius: 20px;
}
#startButton:hover{
    background-color: rgb(28, 168, 28);
}
.startImage {
    width: 50%;
}


/* page 2 */


body{
    background-image: url('Recursos/fondo2.png');
    width: 100%;  
    height: auto;
    background-attachment: fixed;
    background-size: cover;
}
main {
    padding-top: 0%;
}

.imageReturn {
    width: 120%;
    margin: -15%;
}
.filtros {
    display: flex;
    justify-content: space-between;
    padding: 3%;
    font-family: 'Orbitron', sans-serif;
    background: rgba(31, 16, 73, 0.84);
}

.filterA-Z {
    color: white;
    background: #120B26;
    width: 250px;
    height: 42px;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
}

.filterA-Z:hover, .filterGender:hover, .searchBar:hover  {
    background-color: rgb(28, 168, 28);
}

.filterOrderA-Z {
    background: transparent;
    padding: 0px 10px;
    border: none;
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: 12px;
}
.filterGender {
    color: white;
    background: #120B26;
    width: 250px;
    height: 42px;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
}

.filterOrderGender {
    background: transparent;
    padding: 0px 10px;
    border: none;
    color: white;
    font-family: 'Orbitron', sans-serif;
    font-size: 12px;
}
.searchBar {
    font-family: 'Orbitron', sans-serif;
    font-size: 12px;
    padding: 0 10px;
    color: white;
    border-color: transparent;
    background: #120B26;
    width: 250px;
    height: 42px;
    border-radius: 10px;
}

.frontCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;

}

.card {
    margin: 12px;
    position: relative;
    transition: 0.3s ease-in-out;
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    -wekit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card.active {
    transform: rotateY(180deg);
}

.showCards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-right: 12%;
    margin-left: 12%;
    margin-top: 5%;
}

.frontCard .image {
    width: 184px;
    height: 207px;
    left: 240px;
    top: 340px;
    background: rgba(31, 16, 73, 0.88);
    border: 3px solid #6BE458;
    box-sizing: border-box;
    border-radius: 10px 10px 0px 0px;
}

.frontCard .name-frontcard{
    width: 184px;
    height: 44px;
    left: 240px;
    top: 547px;
    margin-top: -1%;
    background: #1F1049;
    border: 4px solid #6BE458;
    box-sizing: border-box;
    border-radius: 0px 0px 10px 10px;
    color: white;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    font-size: 15px;
}

.backCard{
    height: 251px;
    width: 100%;
    color: white;
    background-color:#26174e;
    border-radius: 10px;
    margin-top: 5%;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
    -wekit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.backCard .imageBack {
    width: 109px;
    height: 98px;
    display:block;
    margin: auto;
    padding-top: 10px;
    text-align: center;
    border-radius: 10px 10px 10px 10px;
}

.nameBack {
    color: #6BE458;
    font-family: 'Orbitron', sans-serif;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
}

.statusBack {
    color: white;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    font-size: 10px;
}

.genderBack {
    color: white;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    font-size: 10px;
}

.speciesBack {
    color: white;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    font-size: 10px;
}

.card:hover.card{
    transform: rotateY(180deg);
}


