@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');



video {
    object-fit: cover;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.welcome {
    text-align:  center;
}

.button-start {
    text-align: right;
    padding-right: 10%;
}

#startButton {
    border: none;
    font-family: 'Orbitron', sans-serif;
    font-size: 120%;
    font-weight: bold;
    color: #000000;
    background-color: transparent;
    opacity: 80%;
    width: 150px;
    height: 75px;
    left: 1111px;
    top: 512px;
    background: rgba(4, 4, 42, 0.64);
    border-radius: 20px;
}
#startButton:hover{
    background-color: rgb(28, 168, 28);
}
.startImage {
    width: 50%;
}


/* page 2 */


body{
    background-image: url('Recursos/fondo2.png');
    width: 100%;  
    height: auto;
    background-attachment: fixed;
    background-size: cover;
}
main {
    padding-top: 0%;
}

#up {
    display: flex;
    justify-content: space-between;
    font-family: 'Orbitron', sans-serif;
    padding: 2%;
}


.imageReturn {
    width: 120%;
    margin: -15%;
}

.imageAZ {
    width: 22px;
    height: 16px;
}

.buttonAZ {
    background: rgba(31, 16, 73, 0.84);
    border: none;
    margin: 5px;
    padding: 10px;
    opacity: 80%;
}

.buttonAZ:hover {
    background-color: rgb(28, 168, 28);
}


.filters{
    display: flex;
    justify-content: space-around;
    padding-right: 10px;
}



.allFilters {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 1%;
    padding-right: 10px;
    font-family: 'Orbitron', sans-serif;
    background: rgba(31, 16, 73, 0.84)
}


.selectFilter {
    display: flex;
    justify-content: space-between;
    color: white;
    background:  #120B26;
    margin: 15px;
    width: 170px;
    height: 42px;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    padding: 0px 10px;
    font-size: 12px;
}

.selectFilter:hover {
    background-color: rgb(28, 168, 28);
}


.searchBar {
    font-family: 'Orbitron', sans-serif;
    font-size: 12px;
    padding: 0 10px;
    color: white;
    border-color: transparent;
    background: #120B26;
    width: 250px;
    height: 42px;
    border-radius: 10px;
}

.searchBar:hover {
    background-color: rgb(28, 168, 28);
}

.frontCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;

}

.card {
    margin: 12px;
    position: relative;
    transition: 0.3s ease-in-out;
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    -wekit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card.active {
    transform: rotateY(180deg);
}

.showCards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-right: 12%;
    margin-left: 12%;
    margin-top: 5%;
}

.frontCard .image {
    width: 184px;
    height: 207px;
    left: 240px;
    top: 340px;
    background: rgba(31, 16, 73, 0.88);
    border: 3px solid #6BE458;
    box-sizing: border-box;
    border-radius: 10px 10px 0px 0px;
}

.frontCard .name-frontcard{
    width: 184px;
    height: 44px;
    left: 240px;
    top: 547px;
    margin-top: -1%;
    background: #1F1049;
    border: 4px solid #6BE458;
    box-sizing: border-box;
    border-radius: 0px 0px 10px 10px;
    color: white;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    font-size: 15px;
}

.backCard{
    height: 251px;
    width: 100%;
    color: white;
    background-color:#26174e;
    border-radius: 10px;
    margin-top: 5%;
    position: absolute;
    top: 0;
    left: 0;
    transform: rotateY(180deg);
    -wekit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.backCard .imageBack {
    width: 109px;
    height: 98px;
    display:block;
    margin: auto;
    margin-top: 10px;
    text-align: center;
}

.imageBack{
    border-radius: 10px;
}

.nameBack {
    color: #6BE458;
    font-family: 'Orbitron', sans-serif;
    box-sizing: border-box;
    text-align: center;
    font-size: 14px;
}


.infoBack {
    color: white;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
    font-size: 12px;
}


.card:hover.card{
    transform: rotateY(-180deg);
}

#goToUp{
    position: fixed;
    bottom: 30px;
    right: 20px;
    width: 110px;
    margin-bottom: 10%;
}

#click{
    position: fixed;
    transform: rotateY(-180deg);
    z-index: 2;
    width: 80px;
    left: 10%;
    margin-top: 5%;
    animation-duration: 5s;
    animation-iteration-count: 1;
    
}



/* Responsive for tablet */

@media screen and (max-width:960px){

    .logo-welcome {
        width:90%;
        padding-top: 5%;
    }

    .button-start {
        text-align: center;
    }


    #startButton  {
        width: 200px;
        height: 80px;
        font-size: 140%;
        background: rgba(1, 1, 59, 0.64);
        border: solid;
        color:whitesmoke;
        left: 0px;
        top: 0px;
        opacity: 100%;
    }

    .selectFilter{
        width: 15vw;
        height: 5vh;
        font-size: 70%;
        margin-left: 10px;
        padding:0%;
    }

    .allFilters{
        padding:0%;
    }

    .filters {
        padding:0%;
    }
    


}

/* renponsive for cel */

@media screen and (max-width:480px){

    .logo-welcome {
        width:80%;
        padding-top: 10%;
    }

    .button-start {
        text-align: center;
        padding-top: 2%;
    }


    .imageReturn {
        width: 80%;
        margin: -5%;
    }
    
    .searchBar-style {
        display: flex;
        flex-direction: row;
    }

    .imageAZ {
        width: 20px;
        height: 15px;
    }

    .searchBar {
        font-size: 12px;
        width: 160px;
        height: 35px;
        margin: 5px;
    }

    .buttonAZ {
        margin-right: 5px;
        width: 40px;
        height: 30px;
        margin-top: 10px;
    }
    
    

    #startButton  {
        width: 150px;
        height: 60px;
        font-size: 100%;
        background: rgba(2, 2, 41, 0.64);
        border: solid;
        color:whitesmoke;
        left: 0px;
        top: 0px;
        color:white;
    }
    
    .selectFilter{
        width: 15vw;
        height: 5vh;
        font-size: 50%;
        margin-left: 3px;
        padding:0%;
    }

    .allFilters{
        padding:0%;
    }

    .filters {
        padding:0%;
    }
    .nameBack {
        font-size: 95%;
        line-height: 12px;
    }
    .infoBack{
        font-size: 90%;
        line-height: 8px;
    }
    #goToUp{
        right: 2px;
        margin-bottom: 35%;
        width:12vh;
    }

   
}