@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

body {
    margin: 0;
}

.principal {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

video {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    z-index: -1;
}

.logo {
    grid-column: 2 / 5;
}

.buttonStart {
    grid-column-start:5;
    grid-row-start: 5;
}

#button-start {
    border: none;
    font-family: 'Orbitron', sans-serif;
    font-size: 120%;
    font-weight: bold;
    color: #000000;
    background-color: transparent;
    opacity: 80%;
    width: 150px;
    height: 75px;
    left: 1111px;
    top: 512px;
    background: rgba(4, 4, 42, 0.64);
    border-radius: 20px;
}

#button-start:hover{
    background-color: rgb(28, 168, 28);
}


/* segunda página */
.encabezado {
position: absolute;
width: 100%;
height: 20%;
top: 0px;
z-index: -1;
}